.all {
    text-align: center;
    margin-top: 17%;
    background: #1b007e; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border: 5px black;
    border-radius: 10px; /* Уголки */;
    border-top: solid #000;
}



.pol {
    margin-left: auto;
    margin-right: auto;
    width: 62em;
}

input.text {
    width: 200px;
    height: 30px;
}

.ffile {
    display: flex;
}

button.new {
    padding-left: 83px;
    padding-right: 83px;
    background-color: rgb(255, 213, 151);
}